<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">SymShop</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">
			{% if app.user.roles == "ROLE_ADMIN" %}
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a href="{{ path('product_index') }}" class="nav-link">Produits</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('user_index') }}" class="nav-link">Utilisateurs</a>
					</li>
				</ul>

				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="{{ path('homepage') }}" class="nav-link">
							<i class="fas fa-shopping-bag"></i>
							Shop
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('dashboard') }}" class="nav-link">
							<i class="fas fa-suitcase"></i>
							Dashbord-Admin
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('security_logout') }}" class="btn btn-danger">Déconnexion</a>
					</li>
				</ul>
			{% else %}
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Accueil</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
						<div class="dropdown-menu">
							{% for c in categoryRepository.findAll() %}
								<a class="nav-link" href="{{ path('product_category', {'slug': c.slug } ) }}">{{ c.name }}</a>
							{% endfor %}
						</div>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="{{ path('cart_show') }}" class="nav-link">
							<i class="fas fa-shopping-cart"></i>
							Panier
							{{ cartService.total | amount}}
						</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a href="{{ path('purchase_index')}}" class="nav-link">Mes commandes</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('security_logout') }}" class="btn btn-danger">Déconnexion</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a href="#" class="nav-link">Inscription</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('security_login') }}" class="btn btn-success">Connexion</a>
						</li>
					{% endif %}

				</ul>
			{% endif %}
		</div>
	</div>
</nav>
